.bgHeader {
   
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 136px;
    background-color: black;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
  }